body {
  background-image: url('../images/stage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron h1 {
  font-family: 'Frijole', cursive;
  color: #5D001E;
  text-shadow: 2px 2px black;
  margin-left: 20px;
}

.jumbotron p {
  color: #9A1750;
  margin-left: 50px;
}

.jumbotron {
  background-image: url('../images/reel.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel {
  background-color: black;
}

.carImg {
  height: 60%;
  width: 60%;
  margin: auto;
}

.hideButton {
  display: inline;
  margin-left: 15px;
}

.rezButton {
  display: inline;
  float: right;
  margin-right: 15px;
}

.seatContainer {
  width: 90%;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 60px;
}

.row {
  text-align: center;
}

.seat img {
  height: 90%;
  width: 90%;
}

.seat {
  display: inline-block;
  margin: 0 auto;
}

.seatSelected{
  padding-left: -5px;
  padding-right: -5px;
  border: solid 1px white;
  border-radius: 50px;
  background-image: url("../images/xfile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  /*z-index: 9999;*/
}

.people {
  background-color: red;
  width:100px;
  height: 100px;
}

.modal {
  text-align: center;
}


.reserved{
  width: 100px;
  color:white;
  height: 100px;
  background-image: url("../images/circle.png");
  background-repeat: no-repeat;
  background-position: center;
}
