/*h1 {
  text-align: center;
  color: #E3E2DF;
  text-shadow: 2px solid #000;
  margin-top: 50px;
}*/

body {
  background-image: url('../images/stage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  text-align: center;
}

.jumbotron {
  background-image: url('../images/film.png');
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: absolute;
  background-size: 44%;
}


.seatContainer {
  width: 70%;
  margin-top: 30px;
}

.row {
  text-align: center;
}

.seat img {
  height: 90%;
  width: 90%;
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 661ea66c647b4819b590fc441b9ba24078989d5b

}
.seatSelected{
  padding-left: -5px;
  padding-right: -5px;
  border: solid 1px white;
  border-radius: 50px;
  background-image: url("xfile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  z-index: 9999;
}

.popForm {
  display: none;
  height: 200px;
  width: 200px;
  background-color: red;
  position: relative;
  left: 900px;
  bottom:700px;
  text-align: center;
}
