/*h1 {
  text-align: center;
  color: #E3E2DF;
  text-shadow: 2px solid #000;
  margin-top: 50px;
}*/

body {
  background-image: url('../images/stage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  text-align: center;
}

.jumbotron {
  height: 40%;
}

.seatcontainer {
  width: 70%;
  margin-top: 30px;
}

.row {
  text-align: center;
}

.seat img {
  height: 90%;
  width: 90%;
<<<<<<< HEAD
  

=======
>>>>>>> 96490958ed724e015232452b6581216ae494a761
}

.popForm {
  display: none;
  height: 200px;
  width: 200px;
  background-color: red;
  position: relative;
  left: 900px;
  bottom:700px;
  text-align: center;
}
